*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Upper Navigation Bar */
#languages{
    font-size: 0.8rem;
    padding: 5px;
}
#upper-navbar{
    display: flex;
    position: relative;
    background-color: rgb(9 111 67);
    opacity: 0.8;
    height: 67px;
    justify-content: flex-end;
    width: 100%;
}


/* .login button{
    position: relative;
    right: 50px;
    width: 75%;
} */

#search{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    position: absolute;
    left: 49px;
    margin-top: 16px;
}

#search-bar{
    margin: 2px;
    margin-right: 850px;
}

.login button{
    height: 32px;
    width: 110px;
    font-size: 1.1rem;
    font-family: 'Ubuntu';
    font-weight: 800;
    /* border-radius: 5px; */
    border: none;
    opacity: 1;
    /* background-color: rgb(6, 249, 6); */
}

#search-bar input{
    width: 219px;
    height: 29px;
    padding: 9px;
}

/* Middle Navigation Bar */
#middle-navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 120px;
    background-color: white;
}

#middle-navbar img{
    height: 110px;
    margin-left: 0;
    margin-right: 95px;
}
#logo img{
    height: 100px;
    margin-left: 40px;
}


#middle-navbar div{
    display: flex;
    flex-direction: column;
}

#middle-navbar div h2{
    font-size: 1.2rem;
    font-family: 'Ubuntu';
    margin-left: -150px;
    margin-bottom: 30px;
    position: relative;
    right:30px;
    top: 7px;

}

#middle-navbar div p{
    margin-left: -150px;
    font-size: 0.8rem;
    font-family: 'Ubuntu';
    position: relative;
    right:30px;
    bottom: 20px;
    font-style: italic;
}

/* Lower Navigation Bar */
#lower-navbar{
    display: flex;
    position: relative;
    justify-content: center;
}

#lower-navbar::before{
    content: "";
    position: absolute;
    background-color: black;
    opacity: 1;
    z-index: -1;
    height: 120%;
    width: 100%;
}

#lower-navbar ul{
    display: flex;
    font-family: 'Ubuntu';
    margin-top: 15px;
}

#lower-navbar ul li{
    list-style: none;
    font-size: 1.1rem;
}

#lower-navbar ul li a{
    display:block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(6, 249, 6);
    margin-right: 50px;
    font-weight: 200;
}

#lower-navbar ul li a:hover{
    background-color: white;
    color:black;
}



/* Home Section */

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    position: absolute;
    background:url("img3.jpeg") no-repeat center center/cover;
    opacity: 0.5;
    z-index: -1;
    height: 170%;
    width: 100%;
}

#home h1{
    color: rgb(2, 160, 94);
    text-align: center;
    font-family: 'Bree Serif', serif;
}

/* Utility Classes */
.h-primary{
    font-size: 3.2rem;
    padding: 12px;
    text-shadow: 3px 3px black;
}
/* footer */
footer{
    background-image: url("download.jpeg");
    height: 30vh;
    display: flex;font-family: 'Bree Serif';

}
.transbox{
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.75;
    font-weight: 700;
    font-size: 2rem;
}
.left{
    width: 25vw;
    height: 23vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle{
    width: 35vw;
    text-align: center;
    height: 23vh;
    font-size: 1.4rem;
    padding-top: -200px;
}
.middle a{
    text-align: center;
    text-decoration: none;
    color:black;
    margin-right: 1vw;
}
.middlecontent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.middlecontent img{
    height: 305px;
}
.middle a:hover{
    color: rgb(40, 177, 40);
}
.right{
    align-items: center;
    width: 30vw;
    height: 23vh;
    padding-top: 6px;
}
.righticons{
    margin-left: 98px;
    margin-right: 75px;
}
.right a:hover{
    font-size: 1rem;
}
.h6{
    display: flex;
    justify-content: space-around;
}
